In [192]:
import pandas as pd
import numpy as np
from pandasql import sqldf
pd.options.display.max_columns = 1000000
pd.options.display.max_rows = 200
import matplotlib.pyplot as plt
from scipy.stats import skew
import matplotlib.ticker
from datetime import datetime, timedelta
import waterfall_chart
import seaborn as sns
from scipy import stats
pd.set_option('display.max_colwidth',None)

In [107]:
df = pd.read_csv('data.csv')

In [163]:
q10=df['Q10'].str.split(",",n=20,expand=True)
q10m=q10.melt(var_name='columns', value_name='index')
result=q10m['index'].value_counts().reset_index(name='q10')
result.head(2)

                        index   q10
0      Transit (Bus or Metro)  1989
1  Lyft (e.g a standard ride)  1923

In [178]:
def freq(question,output):
    q=df[question].str.split(",",n=26,expand=True)
    qm=q.melt(var_name='columns', value_name='index')
    output=qm['index'].value_counts().reset_index(name=output)
    return output
    
prior_commute=freq('Q10','prior_commute');
prior_errands=freq('Q12','prior_errands');
prior_social=freq('Q13','prior_social');
prior_airport=freq('Q11','prior_airport');
current_commute=freq('Q16','current_commute');
current_errands=freq('Q17','current_errands');
current_social=freq('Q18','current_social');
current_airport=freq('Q19','current_airport');

In [182]:
survey=pd.merge(prior_commute,prior_errands,left_on=['index'],right_on=['index'],how='outer')
survey=pd.merge(survey,prior_social,left_on=['index'],right_on=['index'],how='outer')
survey=pd.merge(survey,prior_airport,left_on=['index'],right_on=['index'],how='outer')
survey=pd.merge(survey,current_commute,left_on=['index'],right_on=['index'],how='outer')
survey=pd.merge(survey,current_errands,left_on=['index'],right_on=['index'],how='outer')
survey=pd.merge(survey,current_social,left_on=['index'],right_on=['index'],how='outer')
survey=pd.merge(survey,current_airport,left_on=['index'],right_on=['index'],how='outer')

survey.to_csv('transportation habit')
survey

,index,prior_commute,prior_errands,prior_social,prior_airport,current_commute,current_errands,current_social,current_airport
0,Transit (Bus or Metro),1989.0,1458.0,1243.0,759.0,945.0,825.0,584.0,374.0
1,Lyft (e.g a standard ride),1923.0,1666.0,2055.0,1787.0,1514.0,1383.0,1373.0,1120.0
2,Shared,1303.0,1025.0,1268.0,664.0,312.0,265.0,251.0,163.0
3,Walking,925.0,1311.0,738.0,NaN,556.0,1125.0,535.0,NaN
4,Private car,917.0,1216.0,1207.0,899.0,861.0,1297.0,1051.0,706.0
5,Wait & Save,804.0,663.0,680.0,414.0,803.0,731.0,633.0,387.0
6,Shared Saver,537.0,446.0,494.0,271.0,149.0,128.0,124.0,82.0
7,Biking,239.0,223.0,124.0,NaN,165.0,202.0,106.0,NaN
8,Other,184.0,213.0,218.0,244.0,173.0,217.0,173.0,150.0
9,I work from home,179.0,45.0,19.0,NaN,694.0,67.0,38.0,NaN
10,Lyft XL,152.0,150.0,266.0,231.0,126.0,122.0,128.0,145.0
11,I did not have a commute,132.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Scooter,65.0,55.0,39.0,NaN,36.0,39.0,26.0,NaN
13,Lux,35.0,16.0,47.0,19.0,17.0,12.0,24.0,16.0
14,Lyft Scooters,31.0,16.0,21.0,2.0,8.0,12.0,13.0,3.0
15,Preferred,29.0,28.0,35.0,36.0,17.0,15.0,26.0,22.0
16,Lux Black,24.0,13.0,31.0,20.0,11.0,10.0,16.0,10.0
17,Lux Black XL,19.0,6.0,22.0,11.0,3.0,6.0,9.0,6.0
18,Lyft Bikes,14.0,10.0,9.0,1.0,12.0,15.0,9.0,1.0
19,Lyft Rentals,2.0,NaN,NaN,NaN,1.0,1.0,1.0,1.0
20,I did not run errands,NaN,45.0,NaN,NaN,NaN,NaN,NaN,NaN
21,I did not go to social events,NaN,NaN,271.0,NaN,NaN,NaN,NaN,NaN
22,I did not go to the airport,NaN,NaN,NaN,801.0,NaN,NaN,NaN,NaN
23,I do not have a commute,NaN,NaN,NaN,NaN,410.0,NaN,NaN,NaN
24,I do not run errands,NaN,NaN,NaN,NaN,NaN,220.0,NaN,NaN
25,I do not go to social events,NaN,NaN,NaN,NaN,NaN,NaN,1094.0,NaN
26,I do not go to the airport,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1773.0

In [195]:
improve_shared_rides=freq('Q22','Improve_shared_rides');
improve_shared_rides

,index,Improve_shared_rides
0,Required mask for all passengers and drivers,2136
1,Only adding 1 co-passenger max per ride,1836
2,Free masks and hand sanitizer,1489
3,Having a plastic shield between me and the other passenger,1363
4,Guaranteed time of arrival at my destination or money back,1232
5,Knowing my route and stops before I get picked up,1116
6,None,355
7,I don't know,341

In [194]:
Willing_to_take=freq('Q23','Willing_to_take');
Willing_to_take

,index,Willing_to_take
0,Required mask for all passengers and drivers,1973
1,Only adding 1 co-passenger max per ride,1732
2,Free masks and hand sanitizer,1340
3,Having a plastic shield between me and the other passenger,1286
4,Guaranteed time of arrival at your destination or money back,1130
5,Knowing my route and stops before I get picked up,992
6,None,536

In [196]:
improve=pd.merge(improve_shared_rides,Willing_to_take,left_on=['index'],right_on=['index'],how='outer')
improve

,index,Improve_shared_rides,Willing_to_take
0,Required mask for all passengers and drivers,2136.0,1973.0
1,Only adding 1 co-passenger max per ride,1836.0,1732.0
2,Free masks and hand sanitizer,1489.0,1340.0
3,Having a plastic shield between me and the other passenger,1363.0,1286.0
4,Guaranteed time of arrival at my destination or money back,1232.0,NaN
5,Knowing my route and stops before I get picked up,1116.0,992.0
6,None,355.0,536.0
7,I don't know,341.0,NaN
8,Guaranteed time of arrival at your destination or money back,NaN,1130.0

In [199]:
Feel_comfortable_shared=freq('Q20','Feel_comfortable_shared');
Feel_comfortable_shared.head(18)

,index,Feel_comfortable_shared
0,All restrictions have been lifted,1240
1,There are no new reported cases of COVID-19 in my area,1199
2,Social distancing guidelines are no longer in effect,1165
3,A cure has been discovered,1086
4,Once a vaccine has been discovered and is available for distribution,1005
5,Lyft announces return to full operation,914
6,Several months after a vaccine has been distributed,913
7,Masks or face covers are no longer required,896
8,Stay-at-home/shelter-in-place orders are lifted,811
9,The rate of new cases have been √íflattened√ì to a manageable level for hospitals,687
10,I do not think I will feel comfortable taking a Shared/Uber Pool,639
11,All employees can return to their workplace,624
12,Vulnerable individuals can resume public interactions,609
13,Non-essential travel is allowed,549
14,The majority of Bars/Restaurants are open without restrictions,527
15,Schools are opened to in person attendance,334
16,Some employees begin returning to their workplace,268
17,Traffic returns to normal,258